html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  text-align: center;
  background-color: rgb(68, 70, 69);
}

footer {
  padding: 15px;
  background-color: rgb(59, 60, 59);
  color: rgba(255, 255, 255, 0.53);
}

h1 {
  font-family: 'Finger Paint', cursive;
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0.55);
}

.footer__link {
  text-decoration: none;
  color: rgb(33, 150, 243);
}

.footer__icon:before {
  color: rgba(255, 0, 0, 0.6);
}

.gofl__top {
  min-height: calc(100vh - 52px);
}

.gofl__canvas {
  border: 24px groove rgba(119, 119, 119, 0.22);
  border-radius: 20px;
}

.gofl__timeFrame {
  display: flex;
  width: 100%;
  margin: 20px 0;
  background-color: rgb(231, 235, 240);
  overflow-x: scroll;
}

.gofl__log-list {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 10px;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid rgb(220, 220, 220);
}

.gofl__log-item {
  display: flex;
  justify-content: space-between;
  margin: 13px 30px;
  font-family: monospace;
  font-size: 1.2em;
}

.gofl__log-itemValue {
  margin-left: 10px;
}

.gofl__snapshot {
  background-color: #000;
}

footer,
.gofl__button {
  font-family: 'Francois One', sans-serif;
}

.gofl__button {
  display: inline-block;
  margin: 40px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  -moz-transition: -moz-box-shadow 0.1s ease-in-out;
  -o-transition: -o-box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  font-size: 30px;
  color: #fff;
}

.gofl__button--info {
  box-shadow: 0 8px 0 #2a7522, 0 15px 20px rgba(0, 0, 0, 0.35);
}

.gofl__button--warn {
  box-shadow: 0 8px 0 #d6a204, 0 15px 20px rgba(0, 0, 0, 0.35);
}

.gofl__text {
  display: inline-block;
  padding: 20px 30px;
  background-color: #ec528d;
  background-image: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(hsla(338, 90%, 80%, 0.8)),
    to(hsla(338, 90%, 70%, 0.2))
  );
  background-image: -webkit-linear-gradient(
    hsla(338, 90%, 80%, 0.8),
    hsla(338, 90%, 70%, 0.2)
  );
  background-image: -moz-linear-gradient(
    hsla(338, 90%, 80%, 0.8),
    hsla(338, 90%, 70%, 0.2)
  );
  background-image: -o-linear-gradient(
    hsla(338, 90%, 80%, 0.8),
    hsla(338, 90%, 70%, 0.2)
  );
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  font-family: 'Alef', sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, 0.7);
  -webkit-transition: background-color 0.2s ease-in-out,
    -webkit-transform 0.1s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out,
    -moz-transform 0.1s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out,
    -o-transform 0.1s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.gofl__button--info .gofl__text {
  background-color: #1d7d1d;
  background-image: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(hsla(104, 90%, 80%, 0.8)),
    to(hsla(104, 90%, 70%, 0.2))
  );
  background-image: -webkit-linear-gradient(
    hsla(104, 90%, 80%, 0.8),
    hsla(104, 90%, 70%, 0.2)
  );
  background-image: -moz-linear-gradient(
    hsla(104, 90%, 80%, 0.8),
    hsla(104, 90%, 70%, 0.2)
  );
  background-image: -o-linear-gradient(
    hsla(104, 90%, 80%, 0.8),
    hsla(104, 90%, 70%, 0.2)
  );
}

.gofl__button--warn .gofl__text {
  background-color: rgb(255, 193, 7);
  background-image: -webkit-linear-gradient(
    rgb(255, 193, 7),
    rgba(255, 235, 59, 0.29)
  );
  background-image: -moz-linear-gradient(
    rgb(255, 193, 7),
    rgba(255, 235, 59, 0.29)
  );
  background-image: -o-linear-gradient(
    rgb(255, 193, 7),
    rgba(255, 235, 59, 0.29)
  );
}

.gofl__button:hover .gofl__text {
  background-color: #ec6a9c;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, 0.9),
    0 0 5px rgba(255, 255, 255, 0.8);
}

.gofl__button--info:hover .gofl__text {
  background-color: rgb(5, 139, 5);
  text-shadow: 0 -1px 1px rgba(49, 175, 133, 0.902),
    0 0 5px rgba(255, 255, 255, 0.8);
}

.gofl__button--warn:hover .gofl__text {
  background-color: rgb(236, 221, 106);
  text-shadow: 0 -1px 1px rgba(175, 49, 95, 0.9), ,
    0 0 5px rgba(255, 255, 255, 0.8);
}

.gofl__button:active,
.gofl__button:focus {
  -webkit-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, 0.3);
}

.gofl__button--info:active,
.gofl__button--info:focus {
  -webkit-box-shadow: 0 8px 0 #417131, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #417131, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #417131, 0 12px 10px rgba(0, 0, 0, 0.3);
}

.gofl__button--warn:active,
.gofl__button--warn:focus {
  -webkit-box-shadow: 0 8px 0 #c89b13, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #c89b13, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #c89b13, 0 12px 10px rgba(0, 0, 0, 0.3);
}

.gofl__button:active .gofl__text {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

@-webkit-keyframes flicker-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3);
  }
  60.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.3),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes flicker-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3);
  }
  60.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.3),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}

.gofl__animation {
  -webkit-animation: flicker-in 2s linear both;
  animation: flicker-in 2s linear both;
}
